SQL Part 3 Exercises -- BooksDB

In [27]:
SELECT TOP 2 *
FROM BooksDB.dbo.to_read;
-- user_id, book_id

-- book table: can find titles and authors, languages

user_id,book_id
1,112
1,235

In [28]:
SELECT TOP 2 * 
FROM BooksDB.dbo.books;
-- id, book_id, best_book_id, work_id, book_counts, isbn, isbn13, authors, original_publication_year, original_title, title, language_code, average_rating, ratings_count, work_ratings_count, work_text_reviews_count, ratings_1-5, small and large image urls

id,book_id,best_book_id,work_id,books_count,isbn,isbn13,authors,original_publication_year,original_title,title,language_code,average_rating,ratings_count,work_ratings_count,work_text_reviews_count,ratings_1,ratings_2,ratings_3,ratings_4,ratings_5,image_url,small_image_url
1,2767052,2767052,2792775,272,439023483,9780439023480,Suzanne Collins,2008,The Hunger Games,"The Hunger Games (The Hunger Games, #1)",eng,4.34,4780653,4942365,155254,66715,127936,560092,1481305,2706317,https://images.gr-assets.com/books/1447303603m/2767052.jpg,https://images.gr-assets.com/books/1447303603s/2767052.jpg
2,3,3,4640799,491,439554934,9780439554930,"J.K. Rowling, Mary GrandPré",1997,Harry Potter and the Philosopher's Stone,"Harry Potter and the Sorcerer's Stone (Harry Potter, #1)",eng,4.44,4602479,4800065,75867,75504,101676,455024,1156318,3011543,https://images.gr-assets.com/books/1474154022m/3.jpg,https://images.gr-assets.com/books/1474154022s/3.jpg

In [29]:
SELECT TOP 2 *
FROM BooksDB.dbo.ratings;
-- book_id, user_id, rating

-- books table can find titles

book_id,user_id,rating
59,35146,4
59,36099,5

In [27]:
SELECT TOP 2 * 
FROM BooksDB.dbo.book_tags;
-- goodreads_book_id, tag_id, count

-- What Book has the most popular tag id?
SELECT TOP 1 b.title, bt.count, bt.tag_id
FROM BooksDB.dbo.books AS b
INNER JOIN BooksDB.dbo.book_tags AS bt
ON bt.goodreads_book_id = b.best_book_id
ORDER BY bt.count DESC;

-- How many tags for the Alchemist?
-- ANS: 100

SELECT b.title, bt.[count], bt.tag_id
FROM BooksDB.dbo.books AS b
INNER JOIN BooksDB.dbo.book_tags AS bt
ON bt.goodreads_book_id = b.best_book_id
WHERE b.title = 'The Alchemist'
ORDER BY bt.[count] DESC;

goodreads_book_id,tag_id,count
1,30574,167697
1,11305,37174

title,count,tag_id
The Alchemist,596234,30574

title,count,tag_id
The Alchemist,596234,30574
The Alchemist,26269,8717
The Alchemist,9712,11743
The Alchemist,8698,11557
The Alchemist,3089,7457
The Alchemist,2297,11305
The Alchemist,1979,23471
The Alchemist,1597,22743
The Alchemist,1360,5207
The Alchemist,1232,4949
The Alchemist,1194,22034
The Alchemist,961,28384
The Alchemist,889,23150
The Alchemist,840,15626
The Alchemist,814,18367
The Alchemist,744,21989
The Alchemist,732,28341
The Alchemist,670,1691
The Alchemist,576,7404
The Alchemist,570,11590
The Alchemist,567,22753
The Alchemist,520,8055
The Alchemist,452,27095
The Alchemist,418,33777
The Alchemist,405,18919
The Alchemist,384,1642
The Alchemist,374,30521
The Alchemist,358,1659
The Alchemist,334,20774
The Alchemist,334,14487
The Alchemist,333,18045
The Alchemist,330,12948
The Alchemist,321,7563
The Alchemist,308,3389
The Alchemist,297,20849
The Alchemist,274,11497
The Alchemist,265,9221
The Alchemist,246,3392
The Alchemist,240,17213
The Alchemist,238,25647
The Alchemist,236,8067
The Alchemist,235,26735
The Alchemist,223,5051
The Alchemist,216,18326
The Alchemist,207,24960
The Alchemist,204,10644
The Alchemist,198,5090
The Alchemist,198,31155
The Alchemist,198,11978
The Alchemist,191,15169
The Alchemist,184,5481
The Alchemist,184,23465
The Alchemist,179,2104
The Alchemist,179,10197
The Alchemist,175,11505
The Alchemist,166,33114
The Alchemist,165,1416
The Alchemist,163,27535
The Alchemist,159,25152
The Alchemist,159,22689
The Alchemist,155,25151
The Alchemist,146,3371
The Alchemist,145,9886
The Alchemist,144,15642
The Alchemist,142,31133
The Alchemist,139,923
The Alchemist,136,30672
The Alchemist,134,25150
The Alchemist,131,10210
The Alchemist,128,15624
The Alchemist,127,32586
The Alchemist,126,11574
The Alchemist,125,7606
The Alchemist,124,20731
The Alchemist,124,1746
The Alchemist,119,5656
The Alchemist,118,20824
The Alchemist,117,4959
The Alchemist,116,25153
The Alchemist,116,22545
The Alchemist,116,18318
The Alchemist,113,21689
The Alchemist,111,23334
The Alchemist,110,20282
The Alchemist,110,29614
The Alchemist,109,27111
The Alchemist,107,30573
The Alchemist,107,31505
The Alchemist,106,17640
The Alchemist,104,11106
The Alchemist,102,25506
The Alchemist,102,5655
The Alchemist,101,26138
The Alchemist,101,12315
The Alchemist,100,4985
The Alchemist,99,20288
The Alchemist,99,20520
The Alchemist,97,28259
The Alchemist,96,18130
The Alchemist,95,25149

In [11]:
SELECT TOP 2 * 
FROM BooksDB.dbo.tags;
-- tag_id, tag_name

SELECT tag_name
FROM BooksDB.dbo.tags
WHERE tag_id = 30574;

SELECT * 
FROM BooksDB.dbo.tags
WHERE tag_name LIKE '%baking'

tag_id,tag_name
0,-
1,--1-

tag_name
to-read

tag_id,tag_name
3816,baking
5666,bread-baking
8131,cookbook-baking
8157,cookbooks-baking
8211,cooking-and-baking
8218,cooking-baking
9332,desserts-baking
12198,food-baking
12257,foodie-baking

In [32]:
-- joining the to read table with the book table 
-- currently looking at how many users want read what title
SELECT TOP 5 b.title, tr.user_id
FROM BooksDB.dbo.books AS b
INNER JOIN BooksDB.dbo.to_read AS tr
ON b.book_id = tr.book_id;

-- WHAT ARE THE TOP TEN MOST POPULAR BOOK TITLE ON THE TO READ LIST?  
SELECT TOP 10 COUNT(tr.user_id) AS NumToRead, b.title
FROM BooksDB.dbo.books AS b
INNER JOIN BooksDB.dbo.to_read AS tr
ON b.book_id = tr.book_id
GROUP BY b.title 
ORDER BY NumToRead DESC;

title,user_id
"Harry Potter and the Sorcerer's Stone (Harry Potter, #1)",61
"Harry Potter and the Sorcerer's Stone (Harry Potter, #1)",590
"Harry Potter and the Sorcerer's Stone (Harry Potter, #1)",632
"Harry Potter and the Sorcerer's Stone (Harry Potter, #1)",892
"Harry Potter and the Sorcerer's Stone (Harry Potter, #1)",1400

NumToRead,title
1812,The Ultimate Hitchhiker's Guide to the Galaxy
1767,"The Hitchhiker's Guide to the Galaxy (Hitchhiker's Guide to the Galaxy, #1)"
1499,The Lord of the Rings: The Art of The Fellowship of the Ring
1498,"Harry Potter Boxed Set, Books 1-5 (Harry Potter, #1-5)"
1484,"Harry Potter and the Goblet of Fire (Harry Potter, #4)"
1352,The Known World
1293,"Harry Potter and the Prisoner of Azkaban (Harry Potter, #3)"
1211,The Lord of the Rings: Weapons and Warfare
1148,Notes from a Small Island
1110,"Harry Potter Collection (Harry Potter, #1-6)"